*
{
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    }
    a, a:link, a:visited {
    text-decoration: none;
    }   
    body {
    background-color: hsl(0, 0%, 100%);
    background-repeat: 10;
    background-size: 2;
    }
    li {
    margin-bottom: 10px;
    }
   
  
    .img1 {
        width: 800px;
        height: 600px; 
    }